 /* body {
    background: url(images/owl-50267_1280.jpg) rgba(0,0, 0, 0.3);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}             */



 .hero-section {
     background: url(images/Apple-Watch-Series-9-RA-MAT.gif) rgba(0, 0, 0, 0.3);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     max-width: 100%;

 }
.offcanvas-body {
    height: 100% !important;
}
 .content {
     width: 100%;
     height: 100vh;
     padding-top: 25px;
     color: white;
     line-height: 0px;
 }

 .content p {
     font-weight: 500;
     letter-spacing: 3px;
 }

 .content h3 {
     font-weight: normal;
     padding-bottom: 10px;
 }

 .section-tow {
     background-image: url(images/iphone-15-pro_overview__f8jz7aagka2q_og.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     max-width: 100%;
     height: 100vh;
 }

 .nav-item-size {
     font-size: 13px;
     color: white;
     line-height: 30px;

 }

 .logo-img {
     width: 25px;
 }

 .icons {
     width: 20px;
     padding-top: 8px;
 }

 .hero-img {
     background-image: url(images/iphone-15.jpg);
     background-repeat: no-repeat;
     background-position: center;
     /* background-size: cover; */
     width: 100%;
     height: 100vh;
 }

 .items {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 100%;
     padding-top: 450px;
     line-height: 3px;
 }

 .items2 {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding-top: 10px;
 }

 .items h2 {
     font-size: 2.5rem;
     font-weight: 500;
 }

 .items2 h2 {
     font-size: 2rem;
     font-weight: normal;
 }

 .items p {
     font-size: 1.2rem;
     font-weight: 500;
 }

 .items2 p {
     font-size: 1.3rem;
 }

 .mynavbar {
     background-color: black;

 }

 .arrow-icons img {
     width: 15px;
     /* position: relative;
    top: 2px;
    right: 0px; */
 }
.new-logo {
    display: none;
}
 .arrow-icons a {
     color: #2997ff !important;
     padding-right: 10px;

 }

 .last-para {
    border-bottom: 1px solid #aaa;
     font-size: 12px;

 }

 .end-para {
    position: relative;
    bottom: 10px;
     font-size: 12px;
     display: flex;
     justify-content: space-between;
 }

 .img-one {
     background-image: url(images/applevisionpro.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     height: 100vh;
 }

 .img-three {
     background-image: url(images/imgthree.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     height: 100vh;
 }

 .img-four {
     background-image: url(images/imgfour.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     height: 100vh;
 }

 .img-two {
     background-image: url(images/Screenshot\ 2024-03-15\ 040042.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     height: 100vh;
 }
 /* images slider  */
 .c-item {
    height: 550px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    
  }
  .img-slider {
    display: none;
    
  }

 .new-accordion {
     display: none;
 }
 .content-para {
    font-size: 11px;
    padding: 20px 0px;
 }

 /* accordion section  */
 .accordion {
    --bs-accordion-btn-focus-box-shadow: none !important;
    --bs-accordion-active-bg: #fff!important;
}
.accordion-flush .accordion-button {
     font-size: 12px !important;
     border-top: 1px solid #000000;
     height: 45px;
 }

 .accordion-flush .accordion-item:last-child .accordion-button.collapsed,
 .accordion-flush .accordion-item:last-child .accordion-body {
     border-bottom: 1px solid #000000;
 }



 @media (max-width:991px) {
     .sidebar {
         background-color: black !important;
         backdrop-filter: blur(18px);
         color: white !important;
     }
     .nav-item-size {
        font-size: 25px;
     }

     .icons {
         display: none;
     }
     .new-logo {
        display: block;
     }
     .hero-img {
        height: 70vh;
     }

     .end-para {
         font-size: 13px;
         display: inline-block;
         line-height: 10px;
         padding: 10px 10px;
         margin: 0 10px;
         

     }
     .section-tow {
        background-image: url(images/abhijeet-barak-ZTv52crdMU8-unsplash.jpg);
        background-position: center;
        background-size: cover;
        height: 70vh;
     }
     .img-one {
        background-size: cover;
        height: 70vh;

        }
     .img-two {
        background-size: cover;
        height: 70vh;

        }
     .img-three {
        background-size: cover;
        height: 70vh;

        }
     .img-four {
        background-size: cover;
        height: 70vh;

        }
     .body-content {
        padding-top: 35px;
        line-height: 15px;
     }
     .img-slider {
        display: block !important;
        padding: 10px;
     }
     .hero-section {
        background-size: 100%;
        height: 600px;
        background-color: #000000;
        
        
     }

     .new-accordion {
         display: block;
         

     }
     .footer-body {
        display: none;
     }

 }